.summary{
  margin: 0;
 padding: 0;
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.underline {
  width: 9rem;
  height: 0.25rem;
  background: rgb(239, 139, 45);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.summaryTitle{
  padding-top: 30px;
  font-weight: bold;
  font-size: 4rem;
}
.order_summary_container{
  width: 90%;
  height: 85%;
  background-color: #d6d6d6;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}
.eachItem{
  color: black;
  display: flex;
  justify-content: flex-start;
}
.eachItem img{
  width: 10%;
  padding: 1rem;
}